@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  display: flex;
  justify-content: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 81px;
  border-bottom: 1px solid $color;
  padding-top: 10px;
}

.header__nav {
  width: 85rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
  padding-left: 20px;
}

.header__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 100%;
  padding-left: 20px;
  font-size: 16px;
}

.menu__item {
  margin-left: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu__link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  text-decoration: none;
  color: #000000;
}

.header__logo {
  width: 50px;
  height: 50px;
}

.menu__item_active {
  color: $color;
  border-bottom: 1px solid #0082F4;
  height: 100%;
  display: flex;
  align-items: center;
}

.button {
  line-height: 23px;
  border-radius: 6px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0082F4;
  color: #FFFFFF;
  width: 121px;
  height: 41px;
}

/*2*/
.hero-area {
  width: 85rem;
  height: 500px;
  //padding: 0 5px 10px 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 40px;
}

.hero-area__title {
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $color;
}

.hero-area__about {
  font-style: normal;
  font-weight: 700;
  font-size: 4.1rem;
  line-height: 130%;
  padding: 0 85px 5px 0;
}


.hero-area__image {
  width: 350px;
  margin-top: 35px;
}

.hero-area__span {
  color: $color;
}

.hero-area__text {
  font-size: 1.2rem;
  opacity: 0.6;
  color: black;
  padding-bottom: 15px

}

.hero-area__buttons {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.hero-area__button, .hero-area__button-play {
  width: 141px;
}

.hero-area__button-play {
  background: transparent;
  border-radius: 10px;
  font-style: normal;
  font-size: 12px;
  line-height: 19px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(60, 97, 225, 0.42);
  color: black;
  font-weight: bold;
}

.hero-area__icon-play {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #0080FD;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**/
.area__container {
  width: 85rem;
}

.hero-area-two__image {
  width: 40%;
  height: 100%;
}

.hero-area-two__first-img {
  position: relative;
  width: 359px;
  top: 34px;
  left: 47px;
}

.hero-area-two__second-img {
  position: relative;
  width: 359px;
  bottom: 285px;
}

.hero-area-two__information {
  width: 54%;
  margin-left: 139px;
}

.title-two {
  font-weight: 500;
  font-size: 17px;
  line-height: 29px;
  letter-spacing: 0.1em;
}

.about-two {
  font-size: 35px;
  padding-top: 10px;
}

.text-two {
  font-size: 15px;
  padding: 15px 15px 30px 0;
}

.our-feature__content {
  width: 85rem;
  display: flex;
}

.our-feature__container {
  width: 100%;
  height: 350px;
}

.our-feature__svg {
  width: 110px;
  height: 110px;
  border: 2px solid #0082F4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-feature__title {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-feature__item {
  width: 33%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-feature__text {
  text-align: center;
  color: black;
  opacity: 0.6;
}

.our-feature__span {
  padding-top: 50px;
  font-size: 18px;
}

/**/

.testimonials__container {
  margin-left: 170px;
  width: 100rem;
  height: 420px;
}

.testimonials__title {
  height: 10%;
  text-align: start;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  padding-top: 30px;
  padding-left: 20px;
  line-height: 150%;
  display: flex;
  justify-content: space-between;

}

.testimonials__content {
  display: flex;
  justify-content: space-between;
}

.testimonials__item {
  box-sizing: border-box;
  width: 480px;
  height: 200px;
  /*opacity: 0.1;*/
  margin-top: 50px;
  margin-left: 5px;
  border: 1px solid rgba(182, 188, 192, 0.78);
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  display: flex;

  &:nth-child(2) {
    margin-left: 30px;
  }

  &:nth-child(3) {
    margin-left: 30px;
  }
}

.testimonials__first-side {
  width: 17%;
  background-color: #0088FF;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.testimonials__first-img {
  position: relative;
  top: 70px;
  left: 17px;
  width: 50px;
}

.testimonials__items {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000000;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
}

.testimonials__about {
  display: flex;
  padding-top: 20px;
}

.testimonials__second-side {
  //width: 83%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 50px;
  text-align: justify;
}

.testimonials__span {
  padding-bottom: 5px;
  font-size: 12px;
}

.testimonials__span-container {
  display: flex;
  flex-direction: column;
}

.testimonials__text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: #000000;
  opacity: 0.7;
}

.testimonials__button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  margin-left: 20px;
}

.testimonials__btn-content {
  margin:8px 6px 10px 10px;
}

.testimonials__btn {
  position: relative;
  right: 200px;
}

.cta {
  width: 100%;
  height: 270px;
  background: rgba(232, 236, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cta__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 37px;
  text-align: right;
  color: #058AFF;
  margin-bottom: 5px;
}

.cta__about {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  opacity: 0.7;
  margin-bottom: 35px;
}

.cta__send-message {
  width: 350px;
  height: 55px;
  border: 1px solid #058AFF;
  border-radius: 10px;
}

.cta__message {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding: 0 20px;
  span {
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #000000;
    opacity: 0.6;
  }

  button {
    width: 70px;
    height: 38px;
    left: 916px;
    top: 2956px;
    background: #0082F4;
    border-radius: 10px;
    font-size: 15px;
    line-height: 23px;
    color: #FFFFFF;
    border: none;
  }
}

/**/
.footer {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__contacts {
  padding-top: 20px;
  width: 85rem;
  height: 75%;
  display: flex;
  justify-content: space-around;

}

.footer__content {
  width: 100%;
  height: 25%;
  background: linear-gradient(180deg, #058AFF 0%, rgba(57, 55, 206, 0.87) 97.91%);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

.footer__content-text {
  width: 50%;
  margin-left: 150px;
  font-size: 15px;
}

.footer__content-div {
  width: 50%;
}

.footer__content-img{
  margin-left: 30px;
}
.logo{
  width: 50px;
  height: 50px;
}
.footer__item {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
  opacity: 0.7;
}

.footer__item{
  &:first-child{
    margin: 0 50px 5px 0;
  }
  ul{
    list-style: none;
    li{
      padding-top: 10px;
    }
  }
}

.footer__sing-up {
  width: 100px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 10px;
  border: none;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #3C61E1;
}
.footer__icons{
  max-width: 310px;
  display: flex;
  margin-left: 60px;
  align-items: center;
}
.footer__btn-content{
  margin-top: 40px;
}